{{define "Header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Go Templated </title>
  </head>
  <body style="text-align: center; background-color: #D5D8DC; color: #922B21">
    <br/>
    <h2><u>Year Planner</u></h2>
{{end}}
