<hr/>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Go Templated </title>
  </head>
  <body style="text-align: center; background-color: #D5D8DC; color: #922B21">
    <br/>
    <h2><u>Year Planner</u></h2>


  
    <h3><u>2020-2021</u></h3>
    <h3><u>Fall</u><h3>
      
        Course Code - CSCI-40 <br/>
        Course Number - Introduction to Programming in Go <br/>
        Course Units - 4 <br/><br/>
      
        Course Code - CSCI-130 <br/>
        Course Number - Introduction to Web Programming with Go <br/>
        Course Units - 4 <br/><br/>
      
        Course Code - CSCI-140 <br/>
        Course Number - Mobile Apps Using Go <br/>
        Course Units - 4 <br/><br/>
      
    <hr/>
    <h3><u>Spring</u><h3>
      
        Course Code - CSCI-50 <br/>
        Course Number - Advanced Go <br/>
        Course Units - 5 <br/><br/>
      
        Course Code - CSCI-190 <br/>
        Course Number - Advanced Web Programming with Go <br/>
        Course Units - 5 <br/><br/>
      
        Course Code - CSCI-191 <br/>
        Course Number - Advanced Mobile Apps With Go <br/>
        Course Units - 5 <br/><br/>
      
    <hr/>
  
    <h3><u>2021-2022</u></h3>
    <h3><u>Fall</u><h3>
      
        Course Code - CSCI-40 <br/>
        Course Number - Introduction to Programming in Go <br/>
        Course Units - 4 <br/><br/>
      
        Course Code - CSCI-130 <br/>
        Course Number - Introduction to Web Programming with Go <br/>
        Course Units - 4 <br/><br/>
      
        Course Code - CSCI-140 <br/>
        Course Number - Mobile Apps Using Go <br/>
        Course Units - 4 <br/><br/>
      
    <hr/>
    <h3><u>Spring</u><h3>
      
        Course Code - CSCI-50 <br/>
        Course Number - Advanced Go <br/>
        Course Units - 5 <br/><br/>
      
        Course Code - CSCI-190 <br/>
        Course Number - Advanced Web Programming with Go <br/>
        Course Units - 5 <br/><br/>
      
        Course Code - CSCI-191 <br/>
        Course Number - Advanced Mobile Apps With Go <br/>
        Course Units - 5 <br/><br/>
      
    <hr/>
  


<h1> Thank You!! <h1>
</body>
</html>

<hr/>
